#form-query {
	display: flex;
	flex-direction: column;
	align-items: center;

	gap: 8px;
}

#form-query input[type="submit"] {
	width: 150px;
	background-color: var(--green-vinted);
	color: var(--white);
	border: none;
	padding: 8px 10px;
	border-radius: 5px;
}

#search-bar {
	padding: 10px 5px;
	width: 100%;
	background-color: var(--light-grey);
	border: none;
	border-radius: 3px;
}

#check-range-query {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 15px;
}

#checkbox-query {
	display: flex;
	font-size: 1.2rem;
	gap: 10px;
}

/* ----------------- 520 px ----------------- */

@media (min-width: 520px) {
	#check-range-query {
		flex-direction: row;
		justify-content: space-around;
		gap: 30px;
		padding: 20px;
		margin: 0;
	}

	#checkbox-query > p {
		flex-shrink: 0;
	}
}
