<<<<<<< HEAD
#pagination {
	margin-top: 20px;
	text-align: center;
}

#pagination a {
	font-size: 2rem;
	color: var(--text-grey);
	padding: 20px;
}
<<<<<<< HEAD

.actual-page {
	text-decoration: underline;
}
=======
>>>>>>> parent of 65e7f0b (basic-layout-pagination-home)
=======
>>>>>>> parent of 442a014 (pagination)
