.container {
	padding: 0 10px;
}

/* put the offers in column */
#offers > .container {
	display: flex;
	flex-direction: column;
	gap: var(--gap-offer);
}

/* ----------------- 520 px ----------------- */

/* allow multiple offers per line */
@media (min-width: 520px) {
	#offers > .container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
}

/* ----------------- 1260 px ----------------- */

/* configure the container */
@media (min-width: 1260px) {
	.container {
		padding: 0;
		width: 1260px;
		margin: 0 auto;
	}
}
