#hero {
	position: relative;
}

#hero-bg {
	position: relative;
	background-image: url("https://lereacteur-vinted.netlify.app/static/media/hero.2c66d85a1335550c4518.jpg");
	width: 100%;
	padding-bottom: 55%;
	background-size: 100%;
}

#torn-effect {
	background-image: url("https://static.vinted.com/_next/static/media/tear.884480420945b3afd77b44a6c5f98567.svg");
	width: 100%;
	height: 100%;
	z-index: 1;
	position: absolute;
	top: 89%;
	right: 0;
	background-size: 100%;
	background-repeat: no-repeat;
}

#tri {
	padding: 10px;
}

h2 {
	font-size: 2.5rem;
	text-align: center;
	line-height: 35px;
	margin-bottom: 20px;
}

#tri button {
	width: 100%;
	padding: 10px;
	background-color: var(--green-vinted);
	border: none;
	border-radius: 3px;
	color: var(--white);
}

/* ----------------- 720 px ----------------- */

@media (min-width: 720px) {
	#hero {
		height: 590px;
		width: 100%;
		margin-bottom: 20px;
	}

	#hero-bg {
		width: 100%;
		height: 100%;
		padding-bottom: 0;
		background-size: cover;
		background-position: center;
	}

	#torn-effect {
		width: 900px;
		background-size: contain;
		top: 528px;
		right: 0;
	}

	#tri {
		width: 320px;
		position: absolute;
		left: 20px;
		top: 30px;
		background-color: var(--white);
		padding: 30px;
		border-radius: 3px;
	}

	h2 {
		font-size: 3.5rem;
		text-align: left;
		line-height: 40px;
	}

	#tri button {
		font-size: 1.8rem;
	}
}
