#header-home {
	position: sticky;
	z-index: 1;
	top: 0;
	height: 102px;
	padding: 8px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--white);
}

#header-home-logo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px;
}

#header-home-logo img {
	height: 30px;
}

#search-bar {
	padding: 10px 5px;
	width: 100%;
	background-color: var(--light-grey);
	border: none;
	border-radius: 3px;
}

.header-m {
	display: none;
}

/* ----------------- 720 px ----------------- */

@media (min-width: 720px) {
	#header-home {
		padding: 15px 15px 8px 15px;
		height: 116px;
	}
}

/* ----------------- 960 px ----------------- */

@media (min-width: 960px) {
	.header-m {
		display: inherit;
	}

	.menu-w {
		display: none;
	}

	#header-home {
		flex-direction: row;
		align-items: center;
		/* justify-content: space-around; */
	}

	#search-bar {
		flex-shrink: 0;
	}
}
