/* stick the header to the top */
#header-home {
	position: sticky;
	z-index: 2;
	top: 0;
	background-color: var(--white);
}

#header-home > .container {
	padding: 8px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#header-home-logo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px;
}

#header-home-logo img {
	height: 30px;
}

.menu-w button {
	background: none;
	border: none;
	font-size: 2.3rem;
	color: var(--text-grey);
}

/* hide the signup/login button when on mobile */
.header-m {
	display: none;
}

/* ----------------- 720 px ----------------- */

@media (min-width: 720px) {
	#header-home > .container {
		padding: 15px 15px 8px 15px;
	}
}

/* ----------------- 960 px ----------------- */

@media (min-width: 960px) {
	#header-home > .container {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
	}

	/* hide the "Menu" button when on wide screen */
	.menu-w {
		display: none;
	}

	/* the search bar takes the maximum space possible */
	#header-home > .container > div:nth-of-type(2) {
		flex: 1;
	}

	.header-m {
		display: flex;
		gap: 50px;
	}

	.header-m > div {
		display: flex;
		gap: 20px;
	}

	/* all the button except the one to sell articles */
	.header-m > div button {
		border: 1px solid var(--green-vinted);
		background-color: var(--white);
		border-radius: 5px;
		color: var(--green-vinted);
		font-size: 1.4rem;
		padding: 0 30px;
	}

	/* button to sell articles */
	.header-m > button {
		background-color: var(--green-vinted);
		border: none;
		border-radius: 3px;
		padding: 8px 10px;
		color: var(--white);
		font-size: 1.4rem;
	}
}
