#checkout-main {
	background-color: var(--bg-grey);
	height: 100vh;
}

#checkout-main > .container {
	background-color: var(--white);
	margin-top: 20px;
}

#checkout-form button {
	background-color: var(--green-vinted);
	border: none;
	border-radius: 3px;
	padding: 8px 10px;
	color: var(--white);
	font-size: 1.4rem;
	text-align: center;
	width: 100%;
	margin: 20px 0;
}

#checkout-form > div > p {
	text-align: center;
	font-weight: bold;
}

#checkout-form a {
	color: var(--white);
}

/* ----------------- 520 px ----------------- */

@media (min-width: 520px) {
	#checkout-main {
		padding: 10px;
	}

	#checkout-form > form {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	#checkout-form > div {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	#checkout-form .StripeElement {
		width: 100%;
	}

	#checkout-form button {
		width: 500px;
		margin: 40px 0;
	}
}

/* ----------------- 720 px ----------------- */

@media (min-width: 720px) {
	#checkout-main > .container {
		width: 720px;
		margin: 0 auto;
	}
}

/* ----------------- 1260 px ----------------- */

@media (min-width: 1260px) {
	#checkout-main > .container {
		padding: 10px;
	}
}
