.info-offer {
	background-color: var(--white);
	padding: 20px;
	margin: 0 10px;
}

h3 {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 20px;
}

.info-offer > article {
	margin-bottom: 20px;
}

.info-offer > div {
	border-bottom: 1px solid var(--bg-grey);
	margin-bottom: 30px;
}

.detail {
	display: flex;
	justify-content: space-between;
}

.detail p {
	font-size: 1.4rem;
	color: var(--text-grey);
	text-align: start;
	flex: 1;
	margin-bottom: 10px;
}

.detail > p:last-child {
	font-weight: bold;
}

h4 {
	font-weight: bold;
	margin-bottom: 20px;
}

.info-offer > p {
	color: var(--text-grey);
	margin: 20px;
}

.info-offer > nav {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 20px;
}

.info-offer > nav > img {
	border-radius: 50%;
	height: 60px;
}

.info-offer > button {
	width: 100%;
	background-color: var(--green-vinted);
	border: none;
	border-radius: 3px;
	padding: 8px 10px;
	color: var(--white);
	font-size: 1.6rem;
}

/* ----------------- 520 px ----------------- */

@media (min-width: 520px) {
	.info-offer {
		margin: 0;
		flex-shrink: 0;
	}
}

/* ----------------- 720 px ----------------- */

@media (min-width: 720px) {
	.info-offer {
		width: 400px;
	}
}
