.carousel-offer {
	padding: 10px;
	margin-top: 10px;
	background-color: var(--white);
	/* height: 50vh; */
	/* width: 50vw; */
}

.carousel-offer img {
	height: 50vh;
	object-fit: cover;
}

/* ----------------- 720 px ----------------- */

@media (min-width: 720px) {
	.carousel-offer {
		width: 50vw;
	}
}
