.carousel-offer {
	padding: 10px;
	margin-top: 10px;
	background-color: var(--white);
	/* width: 100%; */
	/* height: 50vh; */
	/* width: 50vw; */
}

.carousel-offer img {
	width: 100%;
	/* height: 50vh; */
	object-fit: cover;
}

/* ----------------- 720 px ----------------- */

@media (min-width: 720px) {
	.carousel-offer {
		width: 50vw;
	}
}

/* ----------------- 960 px ----------------- */

@media (min-width: 960px) {
	.carousel-offer {
		max-width: 500px;
		max-height: 940px;
	}
}
