.offer-detail {
	background-color: var(--bg-grey);
}

.offer-detail > .container {
	padding: 0;
}

/* ----------------- 520 px ----------------- */

@media (min-width: 520px) {
	.offer-detail > .container {
		padding: 0 10px;
	}
}

/* ----------------- 720 px ----------------- */

@media (min-width: 720px) {
	.offer-detail > .container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
