.offer-detail {
	background-color: var(--bg-grey);
	height: 100vh;
}

.offer-detail > .container {
	padding: 0;
}

#image-solo-offer {
	width: 100%;
}

/* ----------------- 520 px ----------------- */

@media (min-width: 520px) {
	.offer-detail > .container {
		padding: 0 10px;
	}
}

/* ----------------- 720 px ----------------- */

@media (min-width: 720px) {
	.offer-detail > .container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 20px;
	}

	#image-solo-offer {
		width: 50%;
	}
}
