.offer-home {
	width: 100%;
	border-top: 1px solid var(--bg-grey);
}

.owner-home {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 15px;
	margin: 10px 0 10px 10px;
}

.owner-home img {
	height: 30px;
	border-radius: 50%;
}

.owner-home p {
	font-size: 1.4rem;
	color: var(--text-grey);
}

.img-home {
	width: 100%;
	height: 450px;
	object-fit: contain;
}

.offer-home aside {
	color: var(--text-grey);
	font-size: 1.2rem;
}

/* ----------------- 520 px ----------------- */

@media (min-width: 520px) {
	.offer-home {
		flex-shrink: 0;
		width: calc((100% - var(--gap-offer)) / 2);
	}

	.img-home {
		object-fit: cover;
	}
}

/* ----------------- 768 px ----------------- */

@media (min-width: 768px) {
	.offer-home {
		width: calc((100% - (var(--gap-offer) * 2)) / 3);
	}
}

/* ----------------- 1024 px ----------------- */

@media (min-width: 1024px) {
	.offer-home {
		width: calc((100% - (var(--gap-offer) * 3)) / 4);
	}
}

/* ----------------- 1260 px ----------------- */

@media (min-width: 1260px) {
	.offer-home {
		width: calc((100% - (var(--gap-offer) * 4)) / 5);
	}
}
