:root {
	--light-grey: #d3d3d3;
	--light-grey-b: #d3d3d32f;
	--grey: #868686;
	--white-grey: #f3f5f5;
	--white: #fff;
	--black: #000;
}

* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	line-height: 22px;
}

html::-webkit-scrollbar {
	display: none;
}

html {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
