@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
	--white: #fff;
	--light-grey: #f5f6f7;
	--text-grey: #868686;
	--black: #000;
	--green-vinted: #2baeb7;
	--gap-offer: 20px;
}

* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

html::-webkit-scrollbar {
	display: none;
}

html {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

body {
	font-size: 1.6rem;
	line-height: 22px;
	font-family: "Roboto", sans-serif;
}

button {
	font-family: "Roboto", sans-serif;
	font-size: 1.6rem;
}

a {
	color: var(--black);
	text-decoration: none;
}

/* ----------------- 520 px ----------------- */

/* @media (min-width: 520px) {
} */

/* ----------------- 720 px ----------------- */

/* @media (min-width: 720px){

} */

/* ----------------- 768 px ----------------- */

/* @media (min-width: 768px) {
} */

/* ----------------- 960 px ----------------- */

/* @media (min-width: 960px) {
} */

/* ----------------- 1024 px ----------------- */

/* @media (min-width: 1024px) {
	} */

/* ----------------- 1260 px ----------------- */

/* @media (min-width: 1260px) {
	
} */
